.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div{
  border: 1px solid black;
  box-sizing: border-box;
}
//Lorsque tous les écrans ont un width minimum de 1000px voici les classes appelés et leur comportement
@media all and(min-width: 1000px) {
  .col-lg-6{
    width: 50%;
    background-color: skyblue;
    display: inline;
  }
  .col-lg-12{
    width: 100%;
    background-color: skyblue;
    display: inline;
  }
}
//Lorsque tous les écrans ont entre 600px et 1000px voici les classes appelés et leur comportement
@media all and(min-width: 600px) and (max-width: 1000px){
  .col-md-6{
    width: 50%;
    background-color: red;
  }
  .col-md-12{
    width: 100%;
    background-color: red;
  }
}
//Lorsque tous les écrans ont un width maximum de 600 px  voici les classes appelés et leur comportement
@media all and (max-width: 600px){
  .col-sm-6{
    width: 50%;
    display: inline;
    background-color: lightgreen;
  }
  .col-sm-12{
    width: 100%;
    display: inline;
    background-color: lightgreen;
  }
}
//comportement des médias quand le device est en orientation portrait
@media all and (orientation: portrait){
  div{
    border: 1px solid orange;
    box-sizing: border-box;
  }
}
//comportement des médias quand le device est en orientation paysage
@media all and (orientation: landscape){
  div{
    border: 1px solid blue;
    box-sizing: border-box;
  }
}

@media print {
  
}